.static_box {
    width: 200px;
    height: 200px;
  background-color: green;
    border: 2px solid black;
    position: static;
}

.Relative_box {
    width: 200px;
    height: 200px;
  background-color: rebeccapurple;
    border: 2px solid black;
    position:relative;
    left: 20px;
    top: 20px;
}